/* login.css */

/* Estilos para o AnchorPane principal */
.root {
}
/* login.css */

/* Classe para o VBox */
.vbox-background {
    -fx-background-color: #eaeaea; /* Defina a cor desejada para o VBox */
}

/* Classe para os HBox */
.hbox-background {
}

/* Estilos para os rótulos */
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Estilos para os campos de texto */
.text-field {
    -fx-prompt-text-fill: #999999;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

/* Estilos para os botões */
.button {
    -fx-background-color: #337ab7;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 3px;
}

.button:hover {
    -fx-background-color: #286090;
}

.button:pressed {
    -fx-background-color: #1c4e7b;
}
