.medium-box {
    -fx-background-color: -cor_box_gradient_p; /* Defina a cor desejada para o VBox */
    -fx-spacing: 10.0;
    -fx-padding: 10.0;
    -fx-start-margin: 10;
    -fx-border-color: -cor_borda;
    -fx-alignment: center;
}

.top-box {
    -fx-background-color: -cor_box_gradient_p; /* Defina a cor desejada para o VBox */
    -fx-spacing: 10.0;
    -fx-padding: 5.0;
    -fx-alignment: center;
}

.medium-box {
    -fx-background-color: -cor_box_gradient_p; /* Defina a cor desejada para o VBox */
    -fx-spacing: 10.0;
    -fx-padding: 10.0;
    -fx-start-margin: 10;
    -fx-border-color: -cor_borda;
    -fx-alignment: center;
}

.radio-box{
    -fx-spacing: 10.0;
    -fx-padding: 5.0;
    -fx-alignment: center;
    -fx-border-radius: 10;
}

.adjust-box{
    -fx-padding: 20;
    -fx-alignment: center-left;

}