.menu-bar{
    -fx-background-color: -cor_transparent;
}

.menu-bar .menu-item{
    -fx-background-color:-cor_fields;
    -fx-border-color: -cor_borda;
}

.menu-bar .menu-item:hover{
    -fx-background-color: -cor_fields_hover;
}

.menu-bar .menu-item:pressed{
    -fx-background-color: -cor_fields_pressed;
}






